@model BLOC3ProjetReservationJO.Models.CommandModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommandModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommandId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
